.movie {
  display: grid;
  gap: 2em 0;
  max-width: 1200px;
  margin: 4em auto;
}

@media (min-width: 768px) {
  .movie {
    grid-template-columns: repeat(2, 1fr);
  }
}

.movie__img-container {
  max-width: 350px;
  margin: 0 auto;
}

.movie__img {
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.movie__back-btn {
  display: grid;
  place-items: center;
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  margin-top: 1em;
  color: var(--clr-white);
  background-color: var(--clr-orange);
  text-align: center;
}

.movie-right {
  width: 85%;
  margin: 0 auto;
}

.movie__title {
  font-family: var(--ff-secondary);
  font-size: 2.8rem;
  letter-spacing: 0.05em;
}

.movie__info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  margin-top: 1em;
}

.movie__info li {
  padding: 0.2em 0.5em;
  border-radius: 10px;
  background-color: var(--clr-cream-2);
}

.movie__rating {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  font-size: 1.5rem;
}

.movie__imdb {
  width: 55px;
  border-radius: 10px;
}

.movie__rating h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

.movie__rating sub {
  font-size: 0.9rem;
  font-weight: 300;
}

.movie__overview {
  margin-top: 1em;
}

.movie__overview h5,
.movie__writer h5,
.movie__actor h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.movie__writer,
.movie__actor {
  border-top: 2px solid var(--clr-cream-2);
  margin-top: 2em;
}

.movie__writer ul,
.movie__actor ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 0.5em;
}

.movie__writer li,
.movie__actor li {
  text-align: center;
}

.movie__writer h6,
.movie__actor h6 {
  font-size: 1rem;
  font-weight: 400;
}
