.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
}

.item {
  padding: 1em 0.5em;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.item__img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.item__title {
  margin-top: 1em;
  color: black;
  font-size: 0.8rem;
}
