@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --ff-primary: "Urbanist", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1 {
  font-size: clamp(1.3rem, 8vw, 2.5rem);
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

h5 {
  font-size: clamp(1.7rem, 10vw, 2.3rem);
}

a {
  text-decoration: none;
}

.section-center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
